<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/MessageFormat" version="1.0.0" viewmodes="fullscreen">
    <tizen:application id="ttCMYQ30dz.MessageFormat" package="ttCMYQ30dz" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/network.telephony"/>
    <icon src="icon.png"/>
    <name>MessageFormat</name>
    <tizen:privilege name="http://tizen.org/privilege/contact.read"/>
    <tizen:privilege name="http://tizen.org/privilege/callhistory.read"/>
</widget>
